/* ----- */
    /* About */
/* ----- */
.about{
    min-height: 425px;
}
.about > h1 {
    width: 55vw;
    display: flex;
    justify-content: center;
}
.about > article {
    width: 55vw;
    height: 50vh;
    min-height: 350px;
    display: flex;
}
    .about ul{
        width: 40vw;
        min-width: 350px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    .inner-list{
        list-style:disc;
        list-style-position: inside;
    }
