/* ----- */
    /* Footer */
/* ----- */

footer{
    height: 15vh;
    background-color: var(--mainColor);
    color: var(--font);
    display: flex;
    justify-content: center;
}
.icons{
    display:flex; 
    justify-content: center; 
    gap:15px; 
    margin: 10px;
    transition-duration:150ms;
}
.icons>li:hover{
    transform: scale(1.15);
    transition-duration:150ms;
}