/* ----- */
    /* Form */
/* ----- */

.form{
    height: 50vh;
    display: flex;
    flex-direction: column;
}

form{
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
}

    .form-container{
        margin-top: 20px;
        width: 60vw;
        min-width: 370px;
    }

    #email{
        width: 90%;
        min-width: 225px;
        height: 35px;
    }
    #submit{
        width: 12%;
        min-width: 110px;
        height: 35px;
        background-color: var(--button);
        color: white;
    }

